<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0" package="com.bSoft.martivi" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Martivi.Android" android:usesCleartextTraffic="true" android:largeHeap="true" android:icon="@mipmap/icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCLCGeW_GR7oRPVAEOJYkqTXxc_YtGRQ-0" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>